/* container */
$widthContainer: 992px;
$paddingContainer: 16px;

/* base typography */
$baseFont: 'Inter Tight', sans-serif;
$baseWeight: 400;

/* colors */
$linkColor: #000; /* base color for <a> */