.header {
  &-survey {
    &-text {
      max-width: 850px;
      // margin: 0 auto;
      font-size: 24px;
      font-weight: 500;

      p {
        margin-bottom: 0;
      }

      @media(max-width: 1024.99px) {
        font-size: 18px;
      }

      @media(max-width: 576.99px) {
        font-size: 16px;
      }

      .h2 {
        font-weight: 900;
        font-size: 48px;
        margin-bottom: 24px;

        @media(max-width: 1024.99px) {
          font-size: 38px;
          margin-bottom: 20px;
        }

        @media(max-width: 576.99px) {
          font-size: 24px;
          margin-bottom: 16px;
        }
      }
    }
  }

  &-txt {
    font-size: 18px;
    font-weight: 600;
    max-width: 800px;

    @media(max-width: 1024.99px) {
      font-size: 15px;
    }

    p {
      margin-bottom: 32px;

      @media(max-width: 1024.99px) {
        margin-bottom: 8px;
      }
    }

    .h2 {
      font-weight: 900;
      font-size: 48px;
      margin-bottom: 35px;

      @media(max-width: 1200.99px) {
        font-size: 42px;
      }

      @media(max-width: 1024.99px) {
        font-size: 38px;
      }

      @media(max-width: 576.99px) {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 0;
      }
    }
  }
}

.header-booking {
  position: relative;
  padding-top: 130px;
  margin-bottom: 123px;


  @media(max-width: 1200.99px) {
    padding-top: 60px;
  }

  @media(max-width: 1024.99px) {
    padding-top: 37px;
  }

  @media(max-width: 576.99px) {
    margin-bottom: 10px;
    position: relative;
  }

  img.bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: -1;
  }



  @media(max-width: 1024.99px) {
    .bg {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: -70px;
      z-index: -1;
      width: 100%;
      background-color: #FFC837;
      border-radius: 0 0 0 78px;
    }
  }

  @media(max-width: 576.99px) {
    &::before {
      content: '';
      bottom: 148px;
      border-radius: 0 0 0 62px;
    }
  }
}

.header-survey {
  background-color: #FFC836;
  padding-top: 79px;
  padding-bottom: 65px;
  // max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 55px;
  position: relative;

  @media(max-width: 1024.99px) {
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 40px;
  }

  .bg-2 {
    position: absolute;
    top: 13px;
    right: 0;
    // margin-right: -682px;
    z-index: 0;

    @media(max-width: 1100.99px) {
      right: -65px;
    }

    @media(max-width: 1024.99px) {
      display: none;
    }
  }
}